body {
    font-family: Lato, sans-serif;
    padding: 20px;
    background: #f1f1f1;
  }
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background-image: url("https://ssl.gstatic.com/atari/images/simple-header-blended-small.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }

  .title {
      color: #ffffff;
      margin-top: 0px;
  }

  .img {
      margin-top: 10px;
      border-radius: 10px;
  }

  .text {
      color: #000000;
  }

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }